/* line 1, ../../src/scss/global/typography.scss */
body {
  color: #333;
  font-family: "Open Sans", sans-serif;
}

/* line 6, ../../src/scss/global/typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  font-family: "Lato", sans-serif;
}

/* line 16, ../../src/scss/global/typography.scss */
p {
  color: currentColor;
}

/* line 20, ../../src/scss/global/typography.scss */
a {
  color: #888;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
/* line 23, ../../src/scss/global/typography.scss */
a:hover {
  color: #444;
  text-decoration: none;
}

/* line 3, ../../src/scss/global/utility-classes.scss */
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

/* line 5, ../../src/scss/global/helper-classes.scss */
.font-color-white {
  color: #fff;
}

/* line 5, ../../src/scss/global/helper-classes.scss */
.font-color-light-grey {
  color: #ccc;
}

/* line 10, ../../src/scss/global/helper-classes.scss */
.font-size-12 {
  font-size: 0.75rem;
}

/* line 10, ../../src/scss/global/helper-classes.scss */
.font-size-14 {
  font-size: 0.875rem;
}

/* line 10, ../../src/scss/global/helper-classes.scss */
.font-size-16 {
  font-size: 1rem;
}

/* line 10, ../../src/scss/global/helper-classes.scss */
.font-size-18 {
  font-size: 1.125rem;
}

/* line 14, ../../src/scss/global/helper-classes.scss */
.font-weight-300 {
  font-weight: 300;
}

/* line 14, ../../src/scss/global/helper-classes.scss */
.font-weight-400 {
  font-weight: 400;
}

/* line 14, ../../src/scss/global/helper-classes.scss */
.font-weight-600 {
  font-weight: 600;
}

/* line 14, ../../src/scss/global/helper-classes.scss */
.font-weight-700 {
  font-weight: 700;
}

/* line 18, ../../src/scss/global/helper-classes.scss */
.margin-0 {
  margin: 0rem;
}

/* line 18, ../../src/scss/global/helper-classes.scss */
.margin-10 {
  margin: 0.625rem;
}

/* line 18, ../../src/scss/global/helper-classes.scss */
.margin-20 {
  margin: 1.25rem;
}

/* line 18, ../../src/scss/global/helper-classes.scss */
.margin-30 {
  margin: 1.875rem;
}

/* line 18, ../../src/scss/global/helper-classes.scss */
.margin-40 {
  margin: 2.5rem;
}

/* line 18, ../../src/scss/global/helper-classes.scss */
.margin-50 {
  margin: 3.125rem;
}

/* line 23, ../../src/scss/global/helper-classes.scss */
.margin-top-0 {
  margin-top: 0rem;
}

/* line 23, ../../src/scss/global/helper-classes.scss */
.margin-bottom-0 {
  margin-bottom: 0rem;
}

/* line 23, ../../src/scss/global/helper-classes.scss */
.margin-left-0 {
  margin-left: 0rem;
}

/* line 23, ../../src/scss/global/helper-classes.scss */
.margin-right-0 {
  margin-right: 0rem;
}

/* line 23, ../../src/scss/global/helper-classes.scss */
.margin-top-10 {
  margin-top: 0.625rem;
}

/* line 23, ../../src/scss/global/helper-classes.scss */
.margin-bottom-10 {
  margin-bottom: 0.625rem;
}

/* line 23, ../../src/scss/global/helper-classes.scss */
.margin-left-10 {
  margin-left: 0.625rem;
}

/* line 23, ../../src/scss/global/helper-classes.scss */
.margin-right-10 {
  margin-right: 0.625rem;
}

/* line 23, ../../src/scss/global/helper-classes.scss */
.margin-top-20 {
  margin-top: 1.25rem;
}

/* line 23, ../../src/scss/global/helper-classes.scss */
.margin-bottom-20 {
  margin-bottom: 1.25rem;
}

/* line 23, ../../src/scss/global/helper-classes.scss */
.margin-left-20 {
  margin-left: 1.25rem;
}

/* line 23, ../../src/scss/global/helper-classes.scss */
.margin-right-20 {
  margin-right: 1.25rem;
}

/* line 23, ../../src/scss/global/helper-classes.scss */
.margin-top-30 {
  margin-top: 1.875rem;
}

/* line 23, ../../src/scss/global/helper-classes.scss */
.margin-bottom-30 {
  margin-bottom: 1.875rem;
}

/* line 23, ../../src/scss/global/helper-classes.scss */
.margin-left-30 {
  margin-left: 1.875rem;
}

/* line 23, ../../src/scss/global/helper-classes.scss */
.margin-right-30 {
  margin-right: 1.875rem;
}

/* line 23, ../../src/scss/global/helper-classes.scss */
.margin-top-40 {
  margin-top: 2.5rem;
}

/* line 23, ../../src/scss/global/helper-classes.scss */
.margin-bottom-40 {
  margin-bottom: 2.5rem;
}

/* line 23, ../../src/scss/global/helper-classes.scss */
.margin-left-40 {
  margin-left: 2.5rem;
}

/* line 23, ../../src/scss/global/helper-classes.scss */
.margin-right-40 {
  margin-right: 2.5rem;
}

/* line 23, ../../src/scss/global/helper-classes.scss */
.margin-top-50 {
  margin-top: 3.125rem;
}

/* line 23, ../../src/scss/global/helper-classes.scss */
.margin-bottom-50 {
  margin-bottom: 3.125rem;
}

/* line 23, ../../src/scss/global/helper-classes.scss */
.margin-left-50 {
  margin-left: 3.125rem;
}

/* line 23, ../../src/scss/global/helper-classes.scss */
.margin-right-50 {
  margin-right: 3.125rem;
}

/* line 28, ../../src/scss/global/helper-classes.scss */
.padding-0 {
  padding: 0rem;
}

/* line 28, ../../src/scss/global/helper-classes.scss */
.padding-10 {
  padding: 0.625rem;
}

/* line 28, ../../src/scss/global/helper-classes.scss */
.padding-20 {
  padding: 1.25rem;
}

/* line 28, ../../src/scss/global/helper-classes.scss */
.padding-30 {
  padding: 1.875rem;
}

/* line 28, ../../src/scss/global/helper-classes.scss */
.padding-40 {
  padding: 2.5rem;
}

/* line 28, ../../src/scss/global/helper-classes.scss */
.padding-50 {
  padding: 3.125rem;
}

/* line 33, ../../src/scss/global/helper-classes.scss */
.padding-top-0 {
  padding-top: 0rem;
}

/* line 33, ../../src/scss/global/helper-classes.scss */
.padding-bottom-0 {
  padding-bottom: 0rem;
}

/* line 33, ../../src/scss/global/helper-classes.scss */
.padding-left-0 {
  padding-left: 0rem;
}

/* line 33, ../../src/scss/global/helper-classes.scss */
.padding-right-0 {
  padding-right: 0rem;
}

/* line 33, ../../src/scss/global/helper-classes.scss */
.padding-top-10 {
  padding-top: 0.625rem;
}

/* line 33, ../../src/scss/global/helper-classes.scss */
.padding-bottom-10 {
  padding-bottom: 0.625rem;
}

/* line 33, ../../src/scss/global/helper-classes.scss */
.padding-left-10 {
  padding-left: 0.625rem;
}

/* line 33, ../../src/scss/global/helper-classes.scss */
.padding-right-10 {
  padding-right: 0.625rem;
}

/* line 33, ../../src/scss/global/helper-classes.scss */
.padding-top-20 {
  padding-top: 1.25rem;
}

/* line 33, ../../src/scss/global/helper-classes.scss */
.padding-bottom-20 {
  padding-bottom: 1.25rem;
}

/* line 33, ../../src/scss/global/helper-classes.scss */
.padding-left-20 {
  padding-left: 1.25rem;
}

/* line 33, ../../src/scss/global/helper-classes.scss */
.padding-right-20 {
  padding-right: 1.25rem;
}

/* line 33, ../../src/scss/global/helper-classes.scss */
.padding-top-30 {
  padding-top: 1.875rem;
}

/* line 33, ../../src/scss/global/helper-classes.scss */
.padding-bottom-30 {
  padding-bottom: 1.875rem;
}

/* line 33, ../../src/scss/global/helper-classes.scss */
.padding-left-30 {
  padding-left: 1.875rem;
}

/* line 33, ../../src/scss/global/helper-classes.scss */
.padding-right-30 {
  padding-right: 1.875rem;
}

/* line 33, ../../src/scss/global/helper-classes.scss */
.padding-top-40 {
  padding-top: 2.5rem;
}

/* line 33, ../../src/scss/global/helper-classes.scss */
.padding-bottom-40 {
  padding-bottom: 2.5rem;
}

/* line 33, ../../src/scss/global/helper-classes.scss */
.padding-left-40 {
  padding-left: 2.5rem;
}

/* line 33, ../../src/scss/global/helper-classes.scss */
.padding-right-40 {
  padding-right: 2.5rem;
}

/* line 33, ../../src/scss/global/helper-classes.scss */
.padding-top-50 {
  padding-top: 3.125rem;
}

/* line 33, ../../src/scss/global/helper-classes.scss */
.padding-bottom-50 {
  padding-bottom: 3.125rem;
}

/* line 33, ../../src/scss/global/helper-classes.scss */
.padding-left-50 {
  padding-left: 3.125rem;
}

/* line 33, ../../src/scss/global/helper-classes.scss */
.padding-right-50 {
  padding-right: 3.125rem;
}

/*# sourceMappingURL=main.css.map */
